/*
  ORTUS RESOLUTIONS
    8 * 80 = 480
    8 * 80 = 640
    8 * 100 = 800
    8 * 120 = 960
    8 * 140 = 1120
    8 * 160 = 1280
    8 * 180 = 1440
*/


@import url( "components/toolbar.css" );
@import url( "components/buttons.css" );
@import url( "components/columns.css" );
@import url( "components/controls.css" );
@import url( "components/dialog.css" );
@import url( "components/ink.css" );
@import url( "components/list.css" );
@import url( "components/main.css" );
@import url( "components/popover.css" );
@import url( "components/rows.css" );
@import url( "components/variables.css" );

@import url( "modules/loaders/double-ball.css" );

@import url( "https://fonts.googleapis.com/icon?family=Material+Icons" );

@import url( "style.css" );

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Lato', 'Roboto', 'Raleway', sans-serif;
  font-size: 14px;
}
