<style>
  .column.content{
    background-color: white;
  }
</style>

<div id="dialog-dialog"></div>
<div id="dialog-alert-dialog"></div>
<div id="dialog-confirm-dialog"></div>

<div class="columns">
  <div class="column dialog-buttons cf-100">
    <button id="btn-dialog" class="button button-contained action">Default dialog <i class="material-icons right">picture_in_picture</i></button>
    <button id="btn-dialog-content" class="button button-contained action">Default dialog with content<i class="material-icons right">picture_in_picture</i></button>
    <button id="btn-dialog-alert" class="button button-contained action">Alert dialog <i class="material-icons right">warning</i></button>
    <button id="btn-dialog-confirm" class="button button-contained action">Confirm dialog <i class="material-icons right">check</i></button>
  </div>
</div>
<script>
  $d.one( "#btn-dialog" ).on( "click", ( e ) => {
    new Dialog( $d.one( "#dialog-dialog" ) )
      .title( "Default dialog" )
      .content( "Default dialog content" )
      .buttons( [
        { "label": "Ok", "action": "confirm" },
        { "label": "Cancel", "action": "dismiss" }
      ] )
      .show();
  } );

  $d.one( "#btn-dialog-content" ).on( "click", ( e ) => {
    new Dialog( $d.one( "#dialog-dialog" ) )
      .title( "Default dialog with actual content" )
      .content( '\
      <div>\
      <label class="inline-flex"><input type="checkbox" class="checkbox checkbox-default info">&nbsp;Show notifications</label>\
      </div>\
      ' )
      .buttons( [
        { "label": "Ok", "action": "confirm" },
        { "label": "Cancel", "action": "dismiss" }
      ] )
      .show();
  } );

  $d.one( "#btn-dialog-alert" ).on( "click", ( e ) => {
    new AlertDialog( $d.one( "#dialog-alert-dialog" ) )
      .title( "Alert dialog" )
      .content( "Are you sure you want to continue" )
      .buttons()
      .show();
  } );

  $d.one( "#btn-dialog-confirm" ).on( "click", ( e ) => {
    new ConfirmDialog(  $d.one( "#dialog-confirm-dialog" )  )
      .title( "Confirm dialog" )
      .content( "Please press OK to confirm your action" )
      .buttons( [
        { label: "Ok", action: "confirm" },
        { label: "Cancel", action: "dismiss" }
      ] )
      .show();
  } );
</script>
