<style>
  .column.content{
    padding: 0;
    background-color: #f2f2f2;
  }
</style>

<div class="rows html components list">
  <div class="row rf-auto">
    <ul class="list list-default">
      <li class="paper paper-ink-dark">
        <i class="material-icons">settings</i>&nbsp;Settings
      </li>
      <li class="paper paper-ink-dark">
        <i class="material-icons">wifi</i>&nbsp;Network
      </li>
      <li class="paper paper-ink-dark">
        <i class="material-icons">account_circle</i>&nbsp;Accounts
      </li>
    </ul>
  </div>
</div>
