<div class="column cf-auto">
  <ul class="list list-default">
    <li class="paper paper-ink-dark"
      data-on="click"
      data-params='{ "action":"load", "params": [ "./html/components/list.html", ".columns.components.list", "1" ]}'>
      <i class="material-icons">arrow_back</i>&nbsp;Settings
    </li>
    <li class="paper paper-ink-dark" id="online" disabled></li>
    <li class="paper paper-ink-dark" id="uptime" disabled></li>
  </ul>
</div>
<script>
  function getUptime(){

    var diff = new Date( new Date().getTime() - window.startTime.getTime() );

    var days = Math.floor( ( new Date().getTime() - window.startTime.getTime() ) / 1000 / 60 / ( 60 * 24 ) );
    var hours = diff.getUTCHours();
    var minutes = diff.getUTCMinutes();
    var seconds = diff.getUTCSeconds();

    var str = [];

    if( days > 0 ){
      var label = ( days == 1 ) ? "day" : "days";
      str.push( `${days} ${label}` );
    }

    if( hours > 0 ){
      if( hours < 10 ){ hours = `0${hours}`; }
      var label = ( hours == 1 ) ? "hour" : "hours";
      str.push( `${hours} ${label}` );
    }
    if( minutes > 0 ){
      if( minutes < 10 ){ minutes = `0${minutes}`; }
      var label = ( minutes == 1 ) ? "minute" : "minutes";
      str.push( `${minutes} ${label}` );
    }
    if( seconds > 0 ){
      if( seconds < 10 ){ seconds = `0${seconds}`; }
      var label = ( seconds == 1 ) ? "second" : "seconds";
      str.push( `${seconds} ${label}` );
    }

    return str.join(", ");
  }

  window.device.interval( "generic", function( e ) {
    if( $d.one( "#uptime" ) ){
      $d.one( "#uptime" ).innerHTML = `<i class="material-icons">access_time</i>&nbsp;<strong>Uptime:&nbsp;</strong>` + getUptime();
    } else {
      window.device.interval( "generic", null );
    }
  }, 1000 );

  $d.one( "#online" ).innerHTML = ( window.navigator.onLine ?
    `<i class="material-icons" style="color:green;">check</i>&nbsp;Connected` :
    `<i class="material-icons" style="color:red;">signal_cellular_off</i>&nbsp;Disconnected`
  );
  $d.one( "#uptime" ).innerHTML = `<i class="material-icons">access_time</i>&nbsp;<strong>Uptime:&nbsp;</strong>` + getUptime();
</script>
