.button{
  /* border-width: 1px; */
  border-width: 0px;
  border-style: solid;
  border-color: transparent;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: .2em;
  text-transform: uppercase;
  min-width: 64px;
  min-height: 36px;
  padding: 0 1rem;
  outline: 0;
  cursor: pointer;

  vertical-align: top;

  transition: var(--transition-default);

  font-weight: 700;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button.disabled{
  cursor: not-allowed;
  opacity: .5;
}

.button > i.left{
  margin-left: -4px;
  margin-right: 8px;
}
.button > i.right{
  margin-right: -4px;
  margin-left: 8px;

  order: 1;
}

.button.button-text{
  background-color: transparent;
}
.button.button-outlined{
  border-width: 1px;
  background-color: transparent;
}
.button.button-contained{
  background-color: buttonface;
}
.button.button-round{
  border-radius: 100%;
  padding: 1rem;
  margin: 0;
  min-width: 0;
  min-height: 0;
  border-width: 2px;
  background-color: buttonface;
}

/* ACTION */

.button-text.action{
  color: var(--action);
}
.button-outlined.action{
  border-color: rgba(102, 102, 102, .4);
  color: var(--action);
}
.button-round.action,
.button-contained.action{
  border-color: var(--action);
  background-color: var(--action);
  color: white;
}

.button-text.action:hover,
.button-outlined.action:hover{
  color: var(--action-hover);
}
.button-round.action:hover,
.button-contained.action:hover{
  border-color: var(--action-hover);
  background-color: var(--action-hover);
}

.button-text.action:hover,
.button-outlined.action:hover{
  background-color: var(--dark-transparent-hover);
}

.button-text.action:active,
.button-outlined.action:active{
  color: var(--action-active);
}

.button-round.action:active,
.button-contained.action:active{
  border-color: var(--action-active);
  background-color: var(--action-active);
}

.button-text.action:active,
.button-outlined.action:active{
  background-color: var(--dark-transparent-active);
}

/* INFO */

.button-text.info{
  color: var(--info);
}
.button-outlined.info{
  border-color: rgba(102, 102, 102, .4);
  color: var(--info);
}
.button-round.info,
.button-contained.info{
  border-color: var(--info);
  background-color: var(--info);
  color: white;
}

.button-text.info:hover,
.button-outlined.info:hover{
  color: var(--info-hover);
}
.button-round.info:hover,
.button-contained.info:hover{
  border-color: var(--info-hover);
  background-color: var(--info-hover);
}

.button-text.info:hover,
.button-outlined.info:hover{
  background-color: var(--dark-transparent-hover);
}

.button-text.info:active,
.button-outlined.info:active{
  color: var(--info-active);
}

.button-round.info:active,
.button-contained.info:active{
  border-color: var(--info-active);
  background-color: var(--info-active);
}

.button-text.info:active,
.button-outlined.info:active{
  background-color: var(--dark-transparent-active);
}

/* MINE */

.button-text.mine{
  color: var(--mine);
}
.button-outlined.mine{
  border-color: rgba(102, 102, 102, .4);
  color: var(--mine);
}
.button-round.mine,
.button-contained.mine{
  border-color: var(--mine);
  background-color: var(--mine);
  color: white;
}

.button-text.mine:hover,
.button-outlined.mine:hover{
  color: var(--mine-hover);
}
.button-round.mine:hover,
.button-contained.mine:hover{
  border-color: var(--mine-hover);
  background-color: var(--mine-hover);
}

.button-text.mine:hover,
.button-outlined.mine:hover{
  background-color: var(--dark-transparent-hover);
}

.button-text.mine:active,
.button-outlined.mine:active{
  color: var(--mine-active);
}

.button-round.mine:active,
.button-contained.mine:active{
  border-color: var(--mine-active);
  background-color: var(--mine-active);
}

.button-text.mine:active,
.button-outlined.mine:active{
  background-color: var(--dark-transparent-active);
}
