.button{
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: .2em;
  text-transform: uppercase;
  min-width: 64px;
  min-height: 36px;
  padding: 0 1rem;
  outline: 0;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button.disabled{
  cursor: not-allowed;
  opacity: .5;
}

.button > i.left{
  margin-left: -4px;
  margin-right: 8px;
}
.button > i.right{
  margin-right: -4px;
  margin-left: 8px;
}

.button.button-text{
  background-color: transparent;
}
.button.button-outlined{
  background-color: transparent;
}
.button.button-contained{
  background-color: buttonface;
}
.button.button-round{
  border-radius: 100%;
  padding: 1rem;
  margin: 0;
  min-width: 0;
  min-height: 0;
  background-color: buttonface;
}



.button-text.action{
  color: var(--action);
}
.button-outlined.action{
  border-color: #aaa;
  color: var(--action);
}
.button-round.action,
.button-contained.action{
  border-color: var(--action);
  background-color: var(--action);
  color: white;
}

.button-text.action:hover,
.button-outlined.action:hover{
  color: var(--action-hover);
}
.button-round.action:hover,
.button-contained.action:hover{
  border-color: var(--action-hover);
  background-color: var(--action-hover);
}

.button-text.action:hover,
.button-outlined.action:hover{
  background-color: var(--dark-transparent-hover);
}

.button-text.action:active,
.button-outlined.action:active{
  color: var(--action-active);
}

.button-round.action:active,
.button-contained.action:active{
  border-color: var(--action-active);
  background-color: var(--action-active);
}

.button-text.action:active,
.button-outlined.action:active{
  background-color: var(--dark-transparent-active);
}
