.dialog{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate( -50%, -50% );
  background-color: white;
  z-index: 1000;
  box-shadow: var(--bs-depth-5);
  border: 1px solid #cecece;
}
.dialog .title{
  padding: 1rem
}
.dialog .content{
  padding: 1rem
}
.dialog .actions{
  padding: 1rem;
}
