

.dialog{

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%; left: 50%;
  transform: translate( -50%, -50% );
  background-color: white;
  z-index: 1000;
  box-shadow: var(--bs-depth-5);
  border: 1px solid #cecece;

  min-width: 300px;

  max-height: calc( 100% - 2rem );
  max-width: calc( 100% - 2rem );

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  z-index: 10000;
}

.dialog.show{
  transition: var(--transition-opacity-default);
}

.dialog + .backdrop{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba( 0, 0, 0, .8);

  transition: var(--transition-opacity-default);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  z-index: 9999;
}

.dialog .title{
  font-size: 21px;
}
.dialog .content{
  overflow-y: auto;
overflow-x: hidden;

  white-space: pre-wrap;
}
.dialog .actions{
  display: flex;
  justify-content: flex-end;
}

.dialog .component{

  display: flex;

  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.dialog .component:first-child{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.dialog .component:last-child{
  padding-top: 0;
  padding-bottom: 1rem;
}



.dialog.show,
.dialog.show + .backdrop{
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.dialog.dismissing,
.dialog.dismissing + .backdrop{
  opacity: 0;
  pointer-events: none;
}

.dialog[animate="required"]{
  animation: animateDialogRequired .5s;
}

.dialog[animate="required"] + .backdrop{
  animation: animateDialogRequiredBackdrop .5s;
}

@keyframes animateDialogRequired {
  0% {
    left: calc( 50% );
  } 20% {
    left: calc( 50% + 10px );
  } 40% {
    left: calc( 50% - 10px );
  } 60% {
    left: calc( 50% + 10px );
  } 80% {
    left: calc( 50% - 10px );
  }   100% {
    left: calc( 50% );
  }
}
@keyframes animateDialogRequiredBackdrop{
  0% {
    background-color: rgba( 0, 0, 0, .8);
  } 50% {
    background-color: rgba( 0, 0, 0, .7);
  } 100% {
    background-color: rgba( 0, 0, 0, .8);
  }
}
