.list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.list.list-default{

}

.list.list-default > li{
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba( 127, 127, 127, .1 );


  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.list.list-default > li{
  transition: var(--transition-default);
  cursor: pointer;
}
.list.list-default > li[disabled]{
  cursor: not-allowed;
}

.list.list-default > li:not([disabled]){
  background-color: var(--dark-transparent);
}
.list.list-default > li:not([disabled]):hover{
  background-color: var(--dark-transparent-hover);
}
.list.list-default > li:not([disabled]):active{
  background-color: var(--dark-transparent-active);
}

.list.list-default > li h4{
  margin: 0 0 1rem 0;
}
