.pull-left{
  float: left;
  margin-right: auto !important;
}
.pull-right{
  float: right;
  margin-left: auto !important;
}
.flex{
  display: flex;
}
.inline-flex{
  display: inline-flex;
}

.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}

scrollbar{
  -moz-appearance: none !important;
}

::-webkit-scrollbar {
  width: 10px;
  appearance: none;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #777;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
