:root{
  --action: #3498db; /*0% darken*/
  --action-hover: #2892d8; /*5% darken*/
  --action-active: #248acf; /*10% darken*/

  --dark-transparent: transparent;
  --dark-transparent-hover: rgba( 0,0,0,.010 );
  --dark-transparent-active: rgba( 0,0,0, .030 );

  --light-transparent: transparent;
  --light-transparent-hover: rgba( 255,255,255,.010 );
  --light-transparent-active: rgba( 255,255,255, .030 );

  --bs-active-webkit: 10px 10px 5px 0px rgba(0,0,0,0.75);
  --bs-active-moz: 10px 10px 5px 0px rgba(0,0,0,0.75);
  --bs-active: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
