:root{
  --action: #52baff; /*0% darken*/
  --action-hover: #5abdff; /* 5% lighter */
  --action-active: #63c0ff; /* 10% lighter */

  --action-light: #85ceff; /* 30% lighter */
  --action-lighter: #a8dcff; /*50% lighter */

  --info: #1abc9c; /*0% darken*/
  --info-hover: #1bc9a6; /*5% lighter*/
  --info-active: #1dd6b1; /*10% lighter*/

  --alto: #dddddd; /*0% darken*/
  --alto-hover: #dedede; /*5% lighter*/
  --alto-active: #e0e0e0; /*10% lighter*/

  --mine: #333; /*0% darken*/
  --mine-hover: #3d3d3d; /*5% lighter*/
  --mine-active: #474747; /*10% lighter*/

  --dark-transparent: transparent;
  --dark-transparent-hover: rgba( 0,0,0, .050 );
  --dark-transparent-active: rgba( 0,0,0, .075 );

  --light-transparent: transparent;
  --light-transparent-hover: rgba( 255,255,255,.1 );
  --light-transparent-active: rgba( 255,255,255, .2 );

  --bs-active-webkit: 10px 10px 5px 0px rgba(0,0,0,0.75);
  --bs-active-moz: 10px 10px 5px 0px rgba(0,0,0,0.75);
  --bs-active: 10px 10px 5px 0px rgba(0,0,0,0.75);

  --transition-default: all 500ms cubic-bezier(.25,.8,.25,1);
  --transition-opacity-default: opacity 500ms cubic-bezier(.25,.8,.25,1);

  --bs-depth-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --bs-depth-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --bs-depth-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --bs-depth-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --bs-depth-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.fg-black{ color: black; }
.bg-black{ background-color: black; }

.fg-white{ color: white; }
.bg-white{ background-color: white; }

.fg-action{ color: var(--action); }
.bg-action{ background-color: var(--action); }

.fg-info{ color: var(--info); }
.bg-info{ background-color: var(--info); }

.fg-alto{ color: var(--alto); }
.bg-alto{ background-color: var(--alto); }

.fg-mine{ color: var(--mine); }
.bg-mine{ background-color: var(--mine); }
